# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Banco de dados
*.db
*.sqlite
*.sqlite3

# Arquivos temporários
*.xlsx
*.log
.DS_Store

# Testes
.pytest_cache/
.coverage
htmlcov/
